/* Color Cube */

$back-: #0B0B0B;
$back-: #1FAD96;
$back-: #4473EE;
$back-: #504442;
$back-: #5DF0C8;
$back-: #AD6F5B;
$back-: #AEADAE;
$back-: #CB1917;
$back-: #FFBE6B;
$back-: #FFFFFF;


/* Median Cut */

$back-: #2C3837;
$back-: #975C4D;
$back-: #9EA4A5;
$back-: #AD876A;
$back-section2: #F6F3F5;


/* Material Design */

$back-: #25AB94;
$back-: #48495F;
$back-: #A6846B;
$back-: #C52618;
$back-: #C99F8E;