@use './assets/scss/variables' as *;

// Import all of Bootstrap's CSS
@import "../node_modules/bootstrap/scss/bootstrap.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Gilroy', sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primarycolor;
}

.button {
  font-size: 1rem !important;
  border-radius: 0.25rem !important;
  padding: 1rem 2rem !important;
  width: 260px;
  background-color: $back-texthover ;
  border-color: transparent;

  &:active {
    background-color: $primarycolor !important;
    border-color: transparent !important;
  }

  &:hover {
    background-color: $primarycolor;
  }

  span {
    font-size: 14px;
    font-weight: 700;
    color: white;
  }
}